body{
  margin: 0;
}

.colonne{
  width: 10em;
  background-color: #f6f6f6;
  float: left;
  border-right: solid #a7d7f9 0.8px;
}

.colonne ul{
  padding-left: 20px;

}
.colonne li{
  list-style-type: none;
  text-align: left;
}
.colonne li>a{
  text-decoration: none;

}
.colonne h3{
  font-size: 12px;
  color: #4D4D4D;
  display: flex;
  padding-left: 8px

}
.colonne:after{
    content: "";
    position: fixed;
    background: inherit;
    width: inherit;
    left: 0;
    bottom: 0;
    top: 0;
    border-right: solid #a7d7f9 0.8px;
}

.colonne_contenu{
  position: relative;
  z-index: 10;
  padding: 0;
  text-align: center;
  font-size: 12px;
}
.colonne_txt{
  margin-top: 0;

}

nav{

  height: 80px;
  background-color: #f6f6f6;
}
.navup{
  position: relative;;
  float: right;
  bottom: 3.75em;
}
.navup ul{
  display: inline-block;
}

nav ul{
  margin: 0;
  padding: 60px 2px;

}

nav li{
  display: inline-block;
  }

nav a{
  display: inline-block;
  text-decoration: none;
}


.menuright{
  float: right;
  position: relative;
  bottom: 144px;
}

.navleft a{
  color: #0645AD;
  position: relative;
  left: 10px;
  bottom: 5px;
  font-size: 12.8px;
}
